@model IEnumerable<SuperCarStore.Models.Car>

@{
    ViewBag.Title = "Index";
}

<div class="imgCover">
    <div class="text-center pages container">

        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        

        @foreach (var item in Model)
        {
            <div class="container">
                <div class="card">
                    <div class="row no-gutters cardDiv">
                        <div class="col-auto">
                            <img src="~/Content/imgs/cars/@Html.DisplayFor(modelItem => item.ImgUrl)" class="cardImg"/>
                        </div>
                        <div class="col">
                            <div class="card-block px-2">
                                <dl class="dl-horizontal cardDetails">

                                    <dt>
                                        Make
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(modelItem => item.Make)
                                    </dd>

                                    <dt>
                                        Model
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(modelItem => item.Model)
                                    </dd>

                                    <dt>
                                        Year
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(modelItem => item.Year)
                                    </dd>

                                </dl>
                                <div>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary mr-1" })
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary mr-1" })
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-primary" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }

    </div>
</div>